<div class="container">
    <form class="form">
        <div class="register">Company register</div>
        <label>Company Name</label><br />
        <input type="text" name="username" placeholder="Enter Username" /><br />
        <label>Company Id</label><br />
        <input type="text" name="company_id" placeholder="Enter company Id" /><br />
        <label>Products</label><br />
        <select name="products" id="products">
            <option value="" selected>Select the product</option>
            <option value="Iron">Iron</option>
            <option value="Steel">Steel</option>
            <option value="Copper">Copper</option>
        </select>
        <button type="submit" class="btn btn-primary">Add Company</button>
    </form>
</div>